name: Build APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y zip unzip
          pip install flask kivy buildozer cython

      - name: Unzip project
        run: |
          unzip expedicao_final_corrigido.zip -d app

      - name: Build APK with Buildozer
        run: |
          cd app
          buildozer android debug

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-expedicao
          path: app/bin/*.apk
          
